{% load i18n wagtailcore_tags social_share devcast_tags %}

{% include "puput/entry_page_header.html" %}
<section>
    {% include "puput/entry_links.html" %}
</section>
<section class="article audioentry-card">
    {% if entry.excerpt %}
        {{ entry.excerpt|richtext }}
    {% elif entry.intro %}
        {{ entry.intro|richtext }}
    {% else %}
        {{ entry.body|richtext|truncatewords_html:70 }}
    {% endif %}
    <div class="row">
        <ul class="social-share col-md-9">
            <li class="social-item">
                {% post_to_facebook post_url '<span><i class="fa fa-facebook" title="tag on facebook"></i></span>' %}
            </li>
            <li class="social-item">
                {% post_to_twitter entry.title post_url '<span><i class="fa fa-twitter" title="tag on twitter"></i></span>' %}
            </li>
            <li class="social-item">
                {% post_to_linkedin post_url '<span><i class="fa fa-linkedin" title="tag on linkedin"></i></span>' %}
            </li>
        </ul>
        <div class="col-md-3">
            {% with track=entry.cue_track %}
                <a class="blog_btn continue" href="{% devcast_url entry %}">
                    {% if track %}
                        <span aria-hidden="true">&#9654;</span>
                        {% blocktrans with length=track.audio.duration|duration %}Listen &middot; {{ length }}{% endblocktrans %}
                    {% else %}
                        {% trans "Continue reading" %} &raquo;
                    {% endif %}
                </a>
            {% endwith %}
        </div>
    </div>
</section>
