/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #181818;
}

.page-content,
.blog_grid {
    position: relative;
    border-bottom: 0;
    padding: 10px 20px 20px 20px;
    background: #282828;
    margin-bottom: 20px;
    border-top: 4px solid var(--main-color);

}

.blog_grid p {
    color: #BBBBBB;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1em;
}
h1 {
    color: #ededed;
}
h2 a {
    color: #AAA;
}
h2 {
    color: #ededed;
    font-style: italic;
}
h3, h4{
    color: #ddddfd;
}

ul.links li {
    font-size: 12px;
    margin-right: 13px;
    font-weight: 300;
    color: #BBBBBB;
    display: inline-block;
}

ul.links li a {
    color: #AAAAAA;
    font-weight: 300;
}
li {
    color: #BBBBBB;
}
.blog_btn.continue,
.blog_btn.back {
    display: block;
    text-align: right;
    background-color: transparent;
    color: var(--main-color);
    padding: 10px 0;
}
.page-content .social-share-all li.social-item i {
  color: #111;
  text-align: center;
  width: 100%;
  margin-top: 6px;
}
.blog_grid .article .social-share li.social-item i {
  color: #111;
  text-align: center;
  width: 100%;
  margin-top: 6px;
}
ul.sidebar {
    border-top: 2px solid var(--main-color);
    background-color: #111111;
    padding: 20px;
    margin-bottom: 50px;
    list-style: none;
    
}
ul.sidebar h4 {
    font-size: 16px;
    font-weight: 500;
    color: #CCCCCC;
    margin-bottom: 20px;
}
ul.sidebar li a {
    font-size: 14px;
    font-weight: 300;
    color: #AAAAAA;
}
.about {
    background: url(https://www.gravatar.com/avatar/d8345385d5a063f35b32d80e21e87f8c?s=170&d=mm), var(--main-color);
    background-repeat: no-repeat, repeat;
    background-position: right bottom, top left;
    margin-bottom: 2em;
}
.about .title-section {
    padding: 2px 0 10px;
}
.container {
    
}
p {
    font-weight: 300;
    color: #888;
}
code {
 padding:2px 4px;
 font-size:90%;
 color:#c7254e;
 background-color:#111111;
 border-radius:4px
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#cssmenu {
  width: auto;
  height: 19px;
  padding-bottom: 4px;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}

#cssmenu ul li {
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
 background-color:#11111133;
}
#cssmenu ul li a {
  padding: 4px 30px 0px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
  background: url('images/bg.png');
  color: #ffffff;
}


