{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar puput_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <title>
        {% block title %}
            {{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}
        {% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title"
          content="{% block meta_title %}
                        {% if blog_page.seo_title %}
                            {{ blog_page.seo_title }}
                        {% else %}
                            {{ blog_page.title }}
                        {% endif %}
                   {% endblock meta_title %}"/>
    <meta name="description"
          content="{% block meta_description %}
                        {{ blog_page.search_description }}
                   {% endblock meta_description %}"/>
    {% block social_share %}{% endblock social_share %}
    <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
    {% block css %}
        <link rel='stylesheet' href="{% static 'puput/css/bootstrap.min.css' %}" type='text/css'/>
        <link rel="stylesheet" href="{% static 'puput/css/font-awesome.min.css' %}">
        <style>
            body {
                --main-color: {{blog_page.main_color}};
            }
        </style>
        <link rel="stylesheet" href="{% static 'puput/css/puput.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/semprini.css' %}">
    {% endblock %}
</head>
<body>
{% block blog_header %}
    <div class="about">
        {% if blog_page.header_image %}
            <span class="image featured">
                {% image blog_page.header_image fill-1500x120 as header_image %}
                <img alt="{{ blog_page.header_image.title }}" src="{{ header_image.url }}">
            </span>
        {% endif %}
        <div><a href="https://github.com/Semprini" title="semprini's github">
                <svg style="float: right; margin-right: 130px; margin-top: 20px;" viewBox="0 0 32 32" height="64" width="64"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
        </a></div>
        <div class="container">
            <section class="{% if blog_page.header_image %}title-section-image{% else %}title-section{% endif %}">
                <h1 class="title-header">
                    <a href="{% pageurl blog_page %}" title="home page">{{ blog_page.title }}</a>
                </h1>
                {% if not blog_page.header_image %}
                <h2>{{ blog_page.description }}</h2>
                {% endif %}
            </section>
        </div>
        {% if blog_page.display_categories %}
        <div style="background-color:#33333355;">
            <div class="container" >
                <div id='cssmenu'>
                    <ul>
                        {% categories_list %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock blog_header %}
{% wagtailuserbar %}
<div class="container container-blog">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            {% block content %}{% endblock content %}
            {% block extra_content %}{% endblock extra_content %}
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="blog_sidebar">
                <div class="rss-sitemap">
                    <a href="{% feeds_url blog_page %}" target="_blank" title="RSS">
                         <i class="fa fa-rss-square"></i> <span>{% trans 'Feed RSS' %}</span>
                    </a>
                </div>
                <form name="search_form" class="search_form" method="get" action="{% routablepageurl blog_page 'entries_search' %}">
                    <div class="input-group">
                         <input type="search" name="q" placeholder="{% trans 'Search' %}">
                         <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" title="search"><i class="fa fa-search"></i></button>
                         </span>
                    </div>
                </form>

                {% if blog_page.display_last_entries %}
                    <h3 title="sidebar"></h3>
                    <ul class="sidebar">
                        <h4>{% trans 'Last Entries' %}</h4>
                        {% recent_entries blog_page.num_last_entries %}
                    </ul>
                {% endif %}
                {% if blog_page.display_popular_entries %}
                    <ul class="sidebar">
                        <h4>{% trans 'Popular Entries' %}</h4>
                        {% popular_entries blog_page.num_popular_entries %}
                    </ul>
                {% endif %}
                {% if blog_page.display_tags %}
                    <ul class="sidebar">
                        <h4>{% trans 'Tags' %}</h4>
                        {% tags_list %}
                    </ul>
                {% endif %}
                {% if blog_page.display_archive %}
                    <ul class="sidebar widget menu">
                        <h4>{% trans 'Archive' %}</h4>
                        {% archives_list %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="footer">

    <div class="footer_bottom">
        <div class="copy">
            <p>This footer isn't important, so you don't have to read it.</p>
        </div>
    </div>
</div>
{% block js %}
    <script src="{% static 'puput/js/jquery.min.js' %}"></script>
    <script src="{% static 'puput/js/puput.js' %}"></script>
{% endblock js %}
</body>
</html>
